# Database
database.default.hostname = localhost
database.default.username = root
database.default.password =
database.default.database = rise4
database.default.DBDriver = MySQLi
database.default.DBPrefix = rise_
database.default.port = 3306